@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  line-height: 1.15;
  font-family: Saira, sans-serif;
}

@layer utilities {
  .custom-marker::marker {
    unicode-bidi: isolate;
    @apply tabular-nums normal-case;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
  }
}
